.contact-form {
    background-color: #2c2b2b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: limegreen;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #f0eeee;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #444343;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: limegreen;
    outline: none;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: limegreen;
    color: #0f0f0f;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: rgb(38, 136, 38);
}